.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* 로그인 페이지 배경: 검정색 */
.app-background-black {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% 뷰포트 높이로 설정 */
  width: 100vw; /* 100% 뷰포트 너비로 설정 */
  margin: 0;
}

/* 나머지 페이지 배경: 흰색 */
.app-background-white {
  background-color: #fff;
  color: #000;
  min-height: 80vh;
}
/* src/App.css */

.common-container {
  width: 100%;
  max-width: 500px; /* 페이지 너비를 500px로 통일 */
  min-height: 100vh; /* 전체 화면 높이를 차지하도록 설정 */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* 기본 배경을 흰색으로 설정 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}



/* 미디어 쿼리 */
@media (min-width: 768px) {
  h1 {
      font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
      max-width: 600px;
  }
}
