/* src/Dashboard.css */
*{
  background-color: #fff;
}
.dashboard-container {
  padding: 20px;
}
.dashboard-container>h1{
  color: #000;
  margin-bottom: -10px;
}
.room-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 30px;
}

.room-button {
  font-size: 1rem;
  color: #888;
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 0px;
}

.room-button.active {
  color: #000;
  font-weight: bold;
  /* border-bottom: 2px solid #000; */
}

.environment-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.9rem;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 15px auto;
  width: 90%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10%;
}

.card {
  width: 40%;
  height: 150px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}
.card-container>Link{

}
.card:hover {
  transform: scale(1.05);
}

.control {
  background-color: #1e90ff;
}

.schedule, .security, .analysis {
  background-color: #000;
}
