/* src/Login.css */

.login-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #000; /* 검정색 배경 */
    color: #fff; /* 흰색 텍스트 */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.login-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff; /* 흰색 텍스트 */
    background-color: transparent; /* 배경색 투명 */
}

.subheading {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 30px;
    background-color: transparent; /* 배경색 투명 */
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.sign-up-button {
    width: 100%;
    padding: 15px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.links {
    margin-top: 20px;
    font-size: 0.85rem;
    background-color: transparent; /* 배경색 투명 */
}

.links a {
    color: #bbb;
    text-decoration: none;
    margin: 0 5px;
    background-color: transparent; /* 배경색 투명 */
}

.divider {
    display: flex;
    align-items: center;
    color: #bbb;
    font-size: 0.8rem;
    margin: 30px 0;
    background-color: transparent; /* 배경색 투명 */
}

.divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #555;
    margin: 0 10px;
    background-color: transparent; /* 배경색 투명 */
}

.divider span {
    background-color: transparent; /* 'or' 텍스트 배경을 투명하게 설정 */
    padding: 0 5px;
    color: #bbb;
}

.social-button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.social-button:hover {
    background-color: #fff;
    color: #000;
}
